* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --first-prim-color: #8f8f8f;
    --first-sec-color: #000;
    --second-prim-color: #e9bf72;
    --second-sec-color: rgb(46, 42, 42);
    --fill-color: #ece7de;
    --darken-color: rgba(0, 0, 0, 0.8)
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--fill-color);
    color: var(--first-sec-color);
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 7em - 15px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--first-sec-color);
    text-align: center;
}

p {
    color: var(--first-sec-color);
}

a {
    color: var(--first-sec-color);
}

a:hover,
a:active {
    color: var(--second-prim-color);
}

.inputtext,
.button {
    display: block;
    padding: 2px;
    background: var(--second-prim-color);
    border: 2px solid var(--second-prim-color);
    color: var(--second-sec-color);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    max-height: 100px;
    max-width: 250px;
}

.button a {
    background-clip: padding-box;
    display: inline-block;
    position: relative;
    width: 100%;
<<<<<<< HEAD
    padding: 5px;
=======
    height:100%;
    padding: 10px;

>>>>>>> 1bf7f32aa55c0fb65c645144711b5b1f0222b751
}

button {
    display: block;
    padding: 2px;
    background: var(--second-prim-color);
    border: 2px solid var(--second-prim-color);
    color: var(--second-sec-color);
    border-radius: 5px;
    font-size: 16px;
}

.button:hover,
.button.active,
button {
    background: var(--second-sec-color);
    color: var(--second-prim-color);
    transition: .5s;
    cursor: pointer;
}

nav {
    background: var(--second-prim-color);
}

.logo a {
    color: var(--second-sec-color);
}

nav ul li a {
    color: var(--second-sec-color);
}

nav ul a:active,
nav ul a:hover {
    background: var(--second-sec-color);
    color: var(--second-prim-color);
    transition: .5s;
}

.menu {
    color: var(--second-sec-color);
}

.footer {
    background: var(--second-prim-color);
    color: var(--second-sec-color);
}

.content-align-mid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.select-field {
    appearance: none;
    border: 1px solid #888888;
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
}

@media (max-width: 858px) {
    nav ul {
        background-color: var(--second-sec-color);
    }
    nav ul li a {
        color: var(--second-prim-color)
    }
    nav ul a.active,
    nav ul a:hover {
        background: var(--second-prim-color);
        color: var(--second-sec-color);
    }
<<<<<<< HEAD
=======
}
.content-align-mid{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.select-field {
    appearance: none;
    border: 1px solid #888888;
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    height: auto;
    width: auto;
}


.float--right{
    float: right;
}
.float--left{
    float:left;
>>>>>>> 1bf7f32aa55c0fb65c645144711b5b1f0222b751
}