        .home_top {
            padding: 30px;
            background-image: url("../images/homeImage.jpg");
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
        
        .home_text {
            font-size: 40px;
            text-align: center;
            padding-top: 5%;
            color: white;
        }
        
        .home_linkbutton {
            font-size: 40px;
            text-align: center;
            color: white;
            padding: 10px;
            border: 2px solid;
            transition: 0.5s;
        }
        
        .home_text.dark {
            color: black;
        }