.product {
    padding: 1px;
    display: inline-block;
}

.product-image-container {
    position: relative;
    max-width: 60%;
    float: left;
}

.product-image-container img {
    width: 100%;
    max-width: 820px;
    height: auto;
}

.product-info-container {
    position: relative;
    width: 40%;
    float: left;
    padding: 0 20px;
}

.quantity {
    height: 100px
}

.quantity form {
    width: 100px;
    display: inline-block;
}

.head-container h1 {
    text-align: left;
}

@media (max-width: 1050px) {
    .product {
        display: list-item;
    }
    .product-image-container {
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .product-info-container {
        width: 100%;
    }
}