.product {
    padding: 1%;
    display: inline-block;
}

.product-image-container {
    overflow: auto;
}

.product-image-container img {
    left: 0;
    transform: none;
    max-width: 60%;
    max-height: none;
    height: auto
}

.product-info-container {
    display: list-item;
}

.product-info-container>* {
    position: relative;
}

.quantity {
    height: 100px
}

.quantity form {
    width: 40%;
    display: inline-block;
}

.head-container h1 {
    text-align: left;
}

@media (max-width: 858px) {
    .product {
        display: list-item;
    }
}