.product {
    padding: 1px;
    display: inline-block;
    overflow: auto;
}

.product-image-container {
    position: relative;
    max-width: 60%;
    float: left;
}

.product-image-container img {
    width: 100%;
    max-width: 820px;
    height: auto;
}

.product-info-container {
    position: relative;
    width: 40%;
    float: left;
    padding: 0 20px;
}

.product h2 {
    text-align: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.quantity {
    height: 100px
}

.quantity form {
    width: 200px;
    display: inline;
}

.quantity form select,
.quantity form button {
    height: 60px;
}

.quantity form select {
    width: 60px;
}

.quantity form button {
    width: 85px;
}

.head-container h1 {
    text-align: left;
}

@media (max-width: 1050px) {
    .product {
        display: list-item;
    }
    .product-image-container {
        max-width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .product-info-container {
        width: 100%;
        max-width: 560px;
        left: 50%;
        transform: translateX(-50%);
    }
}