.filter_container {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
}

.filter_container select {
    display: list-item;
    background-color: var(--second-prim-color);
    color: var(--second-sec-color);
    border: none;
    padding: 5px 5px;
}

.filter_container select:hover {
    background-color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

.filter_container .button {
    margin-top: 10px;
    width: 80%;
    padding: 10px;
}

.page_container {
    position: relative;
    left: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: min-content;
}

.page_container a {
    width: min-content;
}

.product_container {
    position: relative;
    width: 240px;
    height: 270px;
    float: left;
    padding: 20px;
    border: 2px solid var(--first-prim-color);
}

.product_title {
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.product_image {
    height: auto;
    width: auto;
    max-height: 95px;
    height: 50%;
    width: auto;
    margin: auto;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.product_btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    text-align: center;
}

.product_btn a {
    width: 100%;
    padding: 14px 20px;
}

.product_container a,
.product_container p {
    color: var(--second-sec-color);
}

.product_container:hover,
.product_container:active {
    background: var(--second-prim-color);
    transition: .5s;
}

@media (max-width: 1100px) {
    .page_container {
        grid-template-columns: auto auto auto;
        width: min-content;
    }
}

@media (max-width: 858px) {
    .page_container {
        grid-template-columns: auto auto;
        width: min-content;
    }
}

@media (max-width: 540px) {
    .page_container {
        grid-template-columns: auto;
        width: min-content;
    }
}