@import "default.css";
@import "navBar.css";
@import "footer.css";
@import "login.css";
@import "registration.css";
@import "logout.css";
@import "shop.css";
@import "home.css";

body::-webkit-scrollbar {
    display: none;
}

.product--btn a:hover {
    background-color: darkslategrey;
    color: antiquewhite;
}

.product--btn form {
    height: 100%;
    width: 100%;
}

.panel {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.table--object {
    position: relative;
    margin-bottom: 5px;
}

.column--prim {
    width: 60%;
    height: 80px;
}

.table--content {
    width: 100%;
    height: 100%;
}

.column--image {
    width: 80px;
    height: 45px;
    float: left;
}

.column--image img {
    width: 100%;
    height: 100%;
}

.column--sub {
    height: 30px;
    text-align: right;
}

.column--sub form {
    height: 100%;
    text-align: right;
}

.del--action {
    width: 20%;
    text-align: right;
    float: right;
    position: absolute;
    top: 10px;
    right: 5px;
    height: 40px;
    width: 40px;
}

.del--action form {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.del--btn {
    font-size: 30px;
    color: red;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.btn--submit {
    width: 50px;
    height: 30px;
    text-align: center;
    float: right;
}

.btn--submit2 {
    width: 70px;
    height: 40px;
    text-align: center;
    float: right;
}

.duoBox {
    display: grid;
    grid-template-columns: 50% 50%;
}

.price {
    font-size: 24px;
}

.pay--field {
    text-align: left;
    width: 100%;
    height: 30px;
    font-size: 18px;
}

.has--border {
    border: 1px solid grey;
}

.text-box p {
    margin-bottom: 20px;
}